# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# tests
/coverage

# prisma
prisma/dev.db
